/* styles.module.css */

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  }
  
  @media (max-width: 900px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 554px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .range-input {
    width: 100%;
  }
  
  .selectInput {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
