.border {
  padding-bottom: 20px;
}
.top{
  display: flex;
  justify-content: center;
}
.allDiv {
  display: flex;
  justify-content: center;

}

.logo {

  cursor: pointer;
}

/* Menu.module.css */

.border {

  padding: 20px;
}

.logo {
  cursor: pointer;
}



.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ul li {
  display: inline-block;
  margin: 0 15px;
}

.ul li a {
  text-decoration: none;
  color: #b12020;
  font-size: 16px;
}

.ul li a:hover {
  color: #aaa;
}

.menuMob{
  display: none;
}




/* Estilos para mostrar el botón de hamburguesa en dispositivos móviles */
@media only screen and (max-width: 750px) {
  .menuPc {
    display: none;
    /* Ocultar la lista de menú en dispositivos móviles */
  }
  
.menuMob{
  display: flex;
  justify-content: flex-end;
}

.allDiv{
  display: block;
}
.top{
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.logo{
  width: 100px;
  height: 100px;
  
}
}