.ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    background-color: rgb(211, 201, 201);
    padding: 10px;
    border-radius: 20px;
}

.ul li a:hover {
    text-decoration: underline;

}
.logo {
    height: 200px;
    width: auto;
}