
.carrusel {
   display: flex;
   flex-wrap: nowrap;
    overflow-x: scroll;

}
.carrusel::-webkit-scrollbar {
  display: block;
  background-color: gray;

}

.card {
  flex: 1 0 auto;
  width: 200px;
  height: auto;
  margin: 0 50px;
}
@media (max-width: 450px) {
  .carrusel::-webkit-scrollbar {
   display: none;
  
  }
  

}




